__pycache__/
jurydiskussionen/
import.py
import_juryfazit.py
import_preise_new.py
commas.py
kritiker.txt
bildungshintergrund.csv
preise_new.csv
preise.csv
autorinnen_expanded.csv
static/jumbotron.jpg
