absl-py==0.7.1
astor==0.8.0
attrs==19.1.0
autopep8==1.4.4
backcall==0.1.0
beautifulsoup4==4.7.1
bleach==3.1.0
bower==0.0.0
bs4==0.0.1
cachetools==3.1.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
colorama==0.4.1
cs50==3.1.0
cssselect==1.0.3
cycler==0.10.0
datetime==4.3
decorator==4.4.0
defusedxml==0.6.0
dill==0.3.0
entrypoints==0.3
feedfinder2==0.0.4
feedparser==5.2.1
flake8==3.7.7
Flask==1.0.3
Flask-Session==0.3.1
Flask-SocketIO==4.1.0
future==0.17.1
gast==0.2.2
google-api-core==1.14.0
google-api-python-client==1.7.10
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-cloud-core==1.0.3
google-cloud-storage==1.17.0
google-cloud-vision==0.38.1
google-pasta==0.1.7
google-resumable-media==0.3.2
googleapis-common-protos==1.6.0
grpcio==1.22.0
gunicorn==19.9.0
h5py==2.9.0
httplib2==0.13.1
idna==2.8
in-place==0.4.0
ipykernel==5.1.1
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==1.1.0
jedi==0.13.3
jieba3k==0.35.1
Jinja2==2.10.1
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lxml==4.3.3
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mistune==0.8.4
nbconvert==5.5.0
nbformat==4.4.0
newspaper3k==0.2.8
nltk==3.2.4
node==0.9.23
notebook==5.7.8
npm==0.1.1
numpy==1.16.4
oauth2client==4.1.3
odict==1.6.2
opencv-python==4.1.0.25
optional-django==0.1.0
pandas==0.24.2
pandocfilters==1.4.2
parso==0.4.0
pdfminer.six==20181108
pickleshare==0.7.5
Pillow==6.0.0
plumber==1.5
preprocessing==0.1.13
prometheus-client==0.7.0
promise==2.2.1
prompt-toolkit==2.0.9
protobuf==3.9.0
psutil==5.6.3
psycopg2==2.8.2
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycodestyle==2.5.0
pycryptodome==3.8.2
pyflakes==2.1.1
Pygments==2.4.2
pyparsing==2.4.0
pyrsistent==0.15.2
pytesseract==0.2.7
python-dateutil==2.8.0
python-engineio==3.8.2.post1
python-socketio==4.2.0
pytz==2019.1
pywinpty==0.5.5
PyYAML==5.1
pyzmq==18.0.1
qtconsole==4.5.1
redis==3.3.2
regex==2019.6.8
requests==2.21.0
requests-file==1.4.3
rsa==4.0
scipy==1.3.0
seaborn==0.9.0
Send2Trash==1.5.0
six==1.12.0
SoMaJo==1.9.0
sortedcontainers==2.1.0
soupsieve==1.9.1
sphinx-rtd-theme==0.2.4
SQLAlchemy==1.3.4
sqlparse==0.3.0
tb-nightly==1.14.0a20190603
tensorboard==1.14.0
tensorflow==2.0.0b0
tensorflow-datasets==1.1.0
tensorflow-estimator==1.14.0
tensorflow-metadata==0.14.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
tf-estimator-nightly==1.14.0.dev2019060501
tfds-nightly==1.1.0.dev201908120105
tinysegmenter==0.3
tldextract==2.2.1
tornado==6.0.2
tqdm==4.33.0
traitlets==4.3.2
unicodecsv==0.14.1
uritemplate==3.0.0
urllib3==1.24.3
virtualenv==16.7.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.4
widgetsnbextension==3.4.2
wrapt==1.11.2
zope.component==4.5
zope.deferredimport==4.3
zope.deprecation==4.4.0
zope.event==4.4
zope.hookable==4.2.0
zope.interface==4.6.0
zope.lifecycleevent==4.3
zope.proxy==4.3.1
