* {
    font-family: "Poppins", sans-serif;
  }

nav .navbar-brand
{
    /* size for brand */
    font-size: x-large;
}

/* colors for brand */
nav .navbar-brand .black
{
    color: black;
}
nav .navbar-brand .grey
{
    color: grey;
}
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
.grey
{
    color: grey;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    /* display: inline-block;  */

    /* override Bootstrap's 100% width for form controls */
    /*width: auto; */
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}


.tab-content>.tab-pane {
    display: block;
    height: 0;
    overflow: hidden;
}
.tab-content>.tab-pane.active {
    height: auto;
}

/* Style the parent containers */
.row .col-md-6{
    height: 500px;
    padding: 0px;
}


#chart-display-col {
    border-right: 4px hidden black;
}


/* Style svg components*/
svg {
    fill: rgba(110, 205, 255, 0.54);
    background-color: white;
}

.container-canvas {
        /* This could be done in one single declaration. See the extended sample. */
        margin-right: auto;
        margin-left: auto;
        width: 600px;
    }
