* {
    /* general font */
    font-family: "Poppins", sans-serif;
  }

nav .navbar-brand
{
    /* size for brand */
    font-size: x-large;
}

}
.grey
{
    color: grey;
}

main .form-control
{
    /* center form controls */
    display: inline-block;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;
}

.tab-content>.tab-pane {
    display: block;
    height: 0;
    overflow: hidden;
}
.tab-content>.tab-pane.active {
    height: auto;
}
