{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
<div class="header">
    <h2 class="text-left">About</h2>
</div>
<br>
<div class="container-flex">
  <p>Die Webseite macht Daten zum Bachmann-Wettbewerb recherchierbar. Im Moment ist der Zeitraum auf die Jahre von 2010 bis 2019 begrenzt. Die Idee ist es, das Suchen im Vergleich zur offiziellen Wettbewerbswebseite zu erleichtern.</p>
  <p>Die Suchfelder auf der Startseite ermöglichen die Suche nach einem oder mehreren Kriterien. Von hier gelangt man zu den inviduellen Teilnehmerseiten.</p>
  <p>Auf diesen finden sich minimale
Informationen zu den Autorinnen sowie eine Liste der häufigsten Wörter im jeweiligen Text. Für den Jahrgang 2019 ist zudem das Abstimmungsverhalten der Jurymitglieder dokumentiert (welche Jurorin hat welche Autorin auf die Shortlist für die Preisvergabe gewählt).</p>
  <p>Zusätzlich sind auf der Webseite mehrere
Diagramme, die das Verhältnis zwischen verschiedenen Kriterien (Land, Wohnort, Alter,...) und dem Gewinnen eines Preises darstellen.</p>
  <br>
  <br>
  <p>Die Webseite dient zur Vorbereitung zweier Projekte:</p>
  <p>1. ein Vorhersagemodell zu bauen, mit dem sich zukünftige Preisträger bestimmen lassen,</p>
  <p>2. ein LSTM-Modell zu erstellen, mit dem sich aus den Wettbewerbstexten, neuer Text generieren lässt.</p>
</div>

{% endblock %}
