{% extends "layout.html" %}

{% block title %}
    Suchergebnisse
{% endblock %}

{% block main %}
    <div class="header">
      <h2 class="text-center">Bachmannpreis (1977-2019)</h2>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="container-canvas" style="position: relative; margin: auto; height:60vh; width:80vw">
          <canvas id="scatterChart"></canvas>
        </div>
      </div>
      <div class="row">
        <div class="container-canvas" style="position: relative; margin: auto; height:60vh; width:80vw">
          <canvas id="lineChart"></canvas>
        </div>
      </div>
    </div>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
            <script>

              var kein_Preis = {{ kein_Preis }};
              var andere_Preise = {{ andere_Preise }};
              var bachmannpreis = {{ bachmannpreis }};
              function generateData(list) {
                  var data = [];
                  for (var i = 0; i < list.length; i++)
                  data.push({
                      x: list[i]['True'],
                      y: list[i]['False'],
                  })
                  return data;
              }

              var ctx = document.getElementById('scatterChart').getContext('2d');

              var scatterChart = new Chart(ctx, {
                  type: 'scatter',
                  data: {
                      datasets: [{
                          label: "kein Preis",
                          borderColor: 'rgba(54, 162, 235, 1)',
                          backgroundColor: 'rgba(54, 162, 235, 0.2)',
                          data: generateData(kein_Preis)
                      },{
                        label: "andere Preise",
                        borderColor: 'rgba(53, 90, 234, 1)',
                        backgroundColor: 'rgba(53, 90, 234, 0.2)',
                        data: generateData(andere_Preise)
                      }, {
                        label: "Bachmann-Preis",
                        borderColor: 'rgba(231, 53, 234, 1)',
                        backgroundColor: 'rgba(231, 53, 234, 0.2)',
                        data: generateData(bachmannpreis)
                      }
                      ]
                  },
                  options: {
                      responsive: true,
                      maintainAspectRatio: false,
                      showLines: false,
                      title: {
                          display: true,
                          text: "Alter der Autorinnen verteilt nach Teilnahmejahren"
                      },
                          scales: {
                              yAxes: [{
                                  ticks: {
                                    max: 75,
                                    min: 15,
                                    stepSize: 5
                                  }
                              }],
                              xAxes: [{
                                  ticks: {
                                    max: 2019,
                                    min: 1976,
                                    stepSize: 1
                                  },
                                  type: 'linear',
                                  position: 'bottom'
                              }]
                          }
                  }
              });
              var preise = {{ preise }};
              var alter = {{ alter }};
              function generateAvg(list) {
                  var data = [];
                  var a = 0;
                  var b = 0;
                  var c = 0;
                  var d = 0;
                  var e = 0;
                  var f = 0;
                  var g = 0;
                  var h = 0;
                  var j = 0;
                  var k = 0;
                  var l = 0;
                  var m = 0;
                  for (var i = 0; i < list.length; i++) {
                    if (list[i]['True'] === 2014) {
                        a += list[i]['False'];
                        g++
                    };
                    if (list[i]['True'] === 2015) {
                        b += list[i]['False'];
                        h++
                    };
                    if (list[i]['True'] === 2016) {
                        c += list[i]['False'];
                        j++
                    };
                    if (list[i]['True'] === 2017) {
                        d += list[i]['False'];
                        k++
                    };
                    if (list[i]['True'] === 2018) {
                        e += list[i]['False'];
                        l++
                    };
                    if (list[i]['True'] === 2019) {
                        f += list[i]['False'];
                        m++
                    };
                  }
                  data.push(Math.round((a / g) * 100) / 100);
                  data.push(Math.round((b / h) * 100) / 100);
                  data.push(Math.round((c / j) * 100) / 100);
                  data.push(Math.round((d / k) * 100) / 100);
                  data.push(Math.round((e / l) * 100) / 100);
                  data.push(Math.round((f / m) * 100) / 100);
                  return data;
              };

              function generateglobalAvg(list) {
              var alter_avg = 0;
              for (var i = 0; i < list.length; i++) {
                alter_avg += list[i]};
              alter_avg = Math.round((alter_avg / list.length) * 100 / 100)
              data = []
              for (var i = 0; i < list.length; i++) {
                data.push(alter_avg)};
              return data;
            };


              var ctx = document.getElementById('lineChart').getContext('2d');

              var myChart = new Chart(ctx, {
                  type: 'line',
                  data: {
                      labels: [2014, 2015, 2016, 2017, 2018, 2019],
                      datasets: [{
                          label: 'Preis gewonnen',
                          data: generateAvg(preise),
                          fill: false,
                          showLine: false,
                          backgroundColor: 'rgba(53, 90, 234, 0.2)',
                          borderColor: 'rgba(53, 90, 234, 1)',
                          borderWidth: 1
                      }, {
                          label: 'Preis gewonnen (global)',
                          data: generateglobalAvg(generateAvg(preise)),
                          fill: false,
                          borderDash: [5, 5],
                          pointStyle: 'dash',
                          pointRadius: 0,
                          backgroundColor: 'rgba(53, 90, 234, 0.2)',
                          borderColor: 'rgba(53, 90, 234, 1)',
                          borderWidth: 1
                      }, {
                          label: 'alle Autorinnen',
                          data: generateAvg(alter),
                          fill: false,
                          showLine: false,
                          backgroundColor: 'rgba(53, 234, 156, 0.2)',
                          borderColor: 'rgba(53, 234, 156, 1)',
                          borderWidth: 1
                      }, {
                          label: 'alle Autorinnen (global)',
                          data: generateglobalAvg(generateAvg(alter)),
                          fill: false,
                          borderDash: [5, 5],
                          pointStyle: 'dash',
                          pointRadius: 0,
                          backgroundColor: 'rgba(53, 234, 156, 0.2)',
                          borderColor: 'rgba(53, 234, 156, 1)',
                          borderWidth: 1
                      }, {
                          label: 'Publikumspreis',
                          data: {{ publikum }},
                          fill: false,
                          showLine: false,
                          backgroundColor: 'rgba(234, 138, 53, 0.2)',
                          borderColor: 'rgba(234, 138, 53, 1)',
                          borderWidth: 1
                      },  {
                          label: 'Publikumspreis (global)',
                          data: [{%for datum in publikum %}{{ publikum_avg }}, {% endfor %}],
                          fill: false,
                          borderDash: [5, 5],
                          pointStyle: 'dash',
                          pointRadius: 0,
                          backgroundColor: 'rgba(234, 138, 53, 0.2)',
                          borderColor: 'rgba(234, 138, 53, 1)',
                          borderWidth: 1
                      }]
                  },
                  options: {
                      responsive: true,
                      maintainAspectRatio: false,
                      title: {
                          display: true,
                          text: "Durchschnittliches Alter der Autorinnen nach Teilnahmejahren"
                      },
                      scales: {
                          yAxes: [{
                              ticks: {
                                  beginAtZero: true,
                                  max: 60,
                                  min: 20
                              }
                          }]
                      }
                  }
              });

            </script>
{% endblock %}
