{% extends "layout.html" %}

{% block title %}
    Suchergebnisse
{% endblock %}

{% block main %}
    <div class="header">
      <h2 class="text-center">Bachmannpreis (1977-2019)</h2>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="container-canvas" style="position: relative; margin: auto; height:60vh; width:80vw">
          <canvas id="scatterChart"></canvas>
        </div>
      </div>
      <div class="row">
        <div class="container-canvas" style="position: relative; margin: auto; height:60vh; width:80vw">
          <canvas id="lineChart"></canvas>
        </div>
      </div>
    </div>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
            <script>

              var kein_Preis = {{ kein_Preis }};
              var andere_Preise = {{ andere_Preise }};
              var bachmannpreis = {{ bachmannpreis }};
              function generateData(list) {
                  var data = [];
                  for (var i = 0; i < list.length; i++)
                  data.push({
                      x: list[i]['True'],
                      y: list[i]['False'],
                  })
                  return data;
              }

              var ctx = document.getElementById('scatterChart').getContext('2d');

              var scatterChart = new Chart(ctx, {
                  type: 'scatter',
                  data: {
                      datasets: [{
                          label: "kein Preis",
                          borderColor: 'rgba(54, 162, 235, 1)',
                          backgroundColor: 'rgba(54, 162, 235, 0.2)',
                          data: generateData(kein_Preis)
                      },{
                        label: "andere Preise",
                        borderColor: 'rgba(53, 90, 234, 1)',
                        backgroundColor: 'rgba(53, 90, 234, 0.2)',
                        data: generateData(andere_Preise)
                      }, {
                        label: "Bachmann-Preis",
                        borderColor: 'rgba(231, 53, 234, 1)',
                        backgroundColor: 'rgba(231, 53, 234, 0.2)',
                        data: generateData(bachmannpreis)
                      }
                      ]
                  },
                  options: {
                      responsive: true,
                      maintainAspectRatio: false,
                      showLines: false,
                      title: {
                          display: true,
                          text: "Alter der Autorinnen verteilt nach Teilnahmejahren"
                      },
                          scales: {
                              yAxes: [{
                                  ticks: {
                                    max: 75,
                                    min: 15,
                                    stepSize: 5
                                  }
                              }],
                              xAxes: [{
                                  ticks: {
                                    max: 2019,
                                    min: 1976,
                                    stepSize: 1
                                  },
                                  type: 'linear',
                                  position: 'bottom'
                              }]
                          }
                  }
              });
                

              var ctx = document.getElementById('lineChart').getContext('2d');

              var myChart = new Chart(ctx, {
                  type: 'line',
                  data: {
                      labels: [1977, 1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
                      ],
                      datasets: [{
                          label: 'alle Autorinnen',
                          data: [
                          {% for result in results_alter %}
                          {% if result.jahr != "abs" %}
                          {% if result.gruppe == "absolut" %}
                              {{ result.alter }},
                          {% endif %}
                          {% endif %}
                          {% endfor %}
                          ],
                          fill: false,
                          showLine: true,
                          backgroundColor: 'rgba(53, 234, 156, 0.2)',
                          borderColor: 'rgba(53, 234, 156, 1)',
                          borderWidth: 1
                      }, {
                          label: 'alle Autorinnen (abs)',
                          data: [
                          {% for result in results_alter %}
                          {% if result.jahr != "abs" %}
                                {{ alter_absolut }},
                          {% endif %}
                          {% endfor %}
                          ],
                          fill: false,
                          borderDash: [5, 5],
                          pointStyle: 'dash',
                          pointRadius: 0,
                          backgroundColor: 'rgba(53, 234, 156, 0.2)',
                          borderColor: 'rgba(53, 234, 156, 1)',
                          borderWidth: 1
                      }, {
                          label: 'Bachmann-Preis',
                          data: [
                          {% for result in results_alter %}
                          {% if result.jahr != "abs" %}
                          {% if result.gruppe == "bachmann" %}
                              {{ result.alter }},
                          {% endif %}
                          {% endif %}
                          {% endfor %}
                          ],
                          fill: false,
                          showLine: true,
                          backgroundColor: 'rgba(231, 53, 234, 0.2)',
                          borderColor: 'rgba(231, 53, 234, 1)',
                          borderWidth: 1
                      },  {
                          label: 'Bachmann-Preis (abs)',
                          data: [
                          {% for result in results_alter %}
                          {% if result.jahr != "abs" %}
                                {{ alter_bachmann }},
                          {% endif %}
                          {% endfor %}
                          ],
                          fill: false,
                          borderDash: [5, 5],
                          pointStyle: 'dash',
                          pointRadius: 0,
                          backgroundColor: 'rgba(231, 53, 234, 0.2)',
                          borderColor: 'rgba(231, 53, 234, 1)',
                          borderWidth: 1
                      }]
                  },
                  options: {
                      responsive: true,
                      maintainAspectRatio: false,
                      title: {
                          display: true,
                          text: "Durchschnittliches Alter der Autorinnen nach Teilnahmejahren"
                      },
                      scales: {
                          yAxes: [{
                              ticks: {
                                  beginAtZero: true,
                                  max: 60,
                                  min: 20
                              }
                          }],
                          xAxes: [{
                              ticks: {
                                  autoSkip: true
                              }
                          }]
                      }
                  }
              });

            </script>
{% endblock %}
