{% extends "layout.html" %}

{% block title %}
    Suchergebnisse
{% endblock %}

{% block main %}
    <div class="header">
        <h2 class="text-center">Bachmannpreis (2014-2019)</h2>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="container-canvas" style="position: relative; margin: auto; height:60vh; width:80vw">
          <canvas id="stackedChart"></canvas>
        </div>
      </div>
      <div class="row">
        <div class="container-canvas" style="position: relative; margin: auto; height:20vh; width:80vw">
          <canvas id="horizontalBar"></canvas>
        </div>
      </div>
    </div>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
            <script>
                  var ctx = document.getElementById('stackedChart').getContext('2d');

                  var kritikerChart = new Chart(ctx, {
                      type: 'bar',
                      data: {
                          labels:  [
                                 {% for item in labels %}
                                  "{{ item }}",
                                 {% endfor %}],
                          datasets: [{
                              label: "Bachmann-Preis gewonnen",
                              data: [
                                {% for item in values_bachmann %}
                                 "{{ item }}",
                                {% endfor %}],
                              backgroundColor: 'rgba(231, 53, 234, 0.2)',
                              borderColor: 'rgba(231, 53, 234, 1)',
                              borderWidth: 1
                          },
                          {
                              label: "andere Preise gewonnen",
                              data: [
                                {% for item in values_price %}
                                 "{{ item }}",
                                {% endfor %}],
                              backgroundColor: 'rgba(53, 90, 234, 0.2)',
                              borderColor: 'rgba(53, 90, 234, 1)',
                              borderWidth: 1
                          },
                          {
                            label: "keinen Preis gewonnen",
                            data: [
                              {% for item in values_priceless %}
                               "{{ item }}",
                              {% endfor %}],
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 1
                          }]
                      },
                      options: {
                          responsive: true,
                          maintainAspectRatio: false,
                          title: {
                            display: true,
                            text: "Länder und gewonnene Preise"
                          },
                          tooltips: {
                            mode: "index",
                            intersect: false
                          },
                          legend: {
                            display: false,
                            },
                          scales: {
                            xAxes: [{
                                  stacked: true
                                  }],
                              yAxes: [{
                                  stacked: true,
                                  ticks: {
                                      beginAtZero: true,
                                      max: 50
                                  }
                              }]
                          }
                      }
                  });

                  var ctx = document.getElementById('horizontalBar').getContext('2d');

                  var percentChart = new Chart(ctx, {
                      type: 'horizontalBar',
                      data: {
                          labels:  [
                                 {% for item in labels_percent %}
                                  "{{ item }}",
                                 {% endfor %}],
                          datasets: [{
                              label: "Preis gewonnen",
                              data: [
                                {% for item in values_percent %}
                                 "{{ item }}",
                                {% endfor %}],
                              backgroundColor: 'rgba(53, 90, 234, 0.2)',
                              borderColor: 'rgba(53, 90, 234, 1)',
                              borderWidth: 1
                          }]
                      },
                      options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        title: {
                          display: true,
                          text: "Länder und Gewinnquote"
                        },
                        legend: {
                            display: false,
                            },
                          scales: {
                              xAxes: [{
                                  ticks: {
                                      beginAtZero: true,
                                      max: 100
                                  }
                              }]
                          }
                      }
                  });
            </script>
{% endblock %}
