{% extends "layout.html" %}

{% block title %}
    Suchergebnisse
{% endblock %}

{% block main %}
    <div class="header">
        <h2>Bachmannpreis (2014-2019)</h2>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div class="container-canvas">
            <canvas id="pieChart" width="600" height="600"></canvas>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="container-canvas">
            <canvas id="radarChart" width="600" height="600"></canvas>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script>
      var config_pie = {
        type: "doughnut",
        data: {
          datasets: [{
            data: [
            1, 1, 1, 1, 1, 1, 1
            ],
            backgroundColor: [
            "rgba(234, 53, 75, 0.5)", "rgba(234, 53, 75, 0.5)", "rgba(53, 234, 156, 0.5)", "rgba(53, 234, 156, 0.5)", "rgba(53, 234, 156, 0.5)", "rgba(53, 90, 234, 0.5)", "rgba(234, 53, 75, 0.5)"
            ],
            borderColor: [
            "rgba(234, 53, 75, 1)", "rgba(234, 53, 75, 1)", "rgba(53, 234, 156, 1)", "rgba(53, 234, 156, 1)", "rgba(53, 234, 156, 1)", "rgba(53, 90, 234, 1)", "rgba(234, 53, 75, 1)"
            ],
            borderWidth: 1,
            label: "für die Shortlist gewählt?"
          }],
          labels: [
          "Stefan Gmünder",
          "Nora Gomringer",
          "Klaus Kastberger",
          "Hildegard E. Keller",
          "Michael Wiederstein",
          "Insa Wilke",
          "Hubert Winkels"
          ]
        },
        options: {
          responsive: true,
          legend: {
            position: 'top'
          },
          title: {
            display: true,
            text: 'Shortlist'
          },
          animation: {
            animateScale: true,
            animateRotate: true
          }
        }
      };

      var config_radar = {
        type: "radar",
        data: {
          datasets: [{
            data: [
            -0.2391666667, 0.09704, 0.07098, 0.0366857143, 0.22415, 0.11808, 0.047975
            ],
            backgroundColor: "rgba(54, 162, 235, 0.2)",
            label: "SentiWS Analyse (zwischen -1 und 1)"
          }],
          labels: [
          "Stefan Gmünder",
          "Nora Gomringer",
          "Klaus Kastberger",
          "Hildegard E. Keller",
          "Michael Wiederstein",
          "Insa Wilke",
          "Hubert Winkels"
          ]
        },
        options: {
          scale: {
              ticks: {
                  min: -1,
                  max: 1
              }
          }
        }
      };

      window.onload = function() {
        var ctx_pie = document.getElementById('pieChart').getContext('2d');
        window.myPie = new Chart(ctx_pie, config_pie);
        var ctx_radar = document.getElementById('radarChart').getContext('2d');
        window.myRadar = new Chart(ctx_radar, config_radar);
      };
      </script>

{% endblock %}
