{% extends "layout.html" %}

{% block title %}
    Suchergebnisse
{% endblock %}

{% block main %}
{% if results %}
{% for result in results %}
<div class="card">
  <div class="card-header text-justify">
    <span class="font-weight-bold">{{ loop.index }}</span>
  </div>
  <div class="card-body">
    <h5 class="card-title text-left">{{ result.autorinnenname }}</h5>
    {% if result.titel != "titel" %}
    <h6 class="card-text text-left font-italic">{{ result.titel }}</h6>
    {% endif  %}
    <p class="card-text text-left">
        {% if result.eingeladen_von != "None" %}
        Eingeladen von {{ result.eingeladen_von }} 
        {% endif  %}
        ({{ result.teilnahmejahr }})
    </p>
    <a class="btn btn-primary" href="/text/{{ result.id }}" role="button">Details</a>
  </div>
</div>
{% endfor %}
{% endif  %}
{% endblock %}
