{% extends "layout.html" %}

{% block title %}
    Suchergebnisse
{% endblock %}

{% block main %}
{% if results %}
{% for result in results %}
<h4 class="display-4"><strong>{{ result.autorinnenname }}</strong><br><em>{{ result.titel }}</em> ({{ result.teilnahmejahr }})</h4>
<br>
<br>
<dl class="row">
  <dt class="col-sm-3 text-left"><a href="/laender">Land</a></dt>
  <dd class="col-sm-9 text-left">{{ result.land }}</dd>

  <dt class="col-sm-3 text-left"><a href="/orte">Wohnort</a></dt>
  <dd class="col-sm-9 text-left">{{ result.wohnort }}</dd>

  <dt class="col-sm-3 text-left"><a href="/alterchart">Geburtsjahr</a></dt>
  <dd class="col-sm-9 text-left">{{ result.geburtsjahr }}</dd>

  <dt class="col-sm-3 text-left"><a href="/kritikerinnen">Eingeladen von</a></dt>
  <dd class="col-sm-9 text-left">{{ result.eingeladen_von }}</dd>

  <dt class="col-sm-3 text-left">Preise gewonnen?</dt>
  <dd class="col-sm-9 text-left">{{ result.preis }}</dd>
</dl>
<h6 class="display-6"><a href="/woerterchart">Worthäufigkeit</a></h6>
<div class="container-canvas"><canvas id="myChart" width="600" height="400"></canvas></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
      <script>
      var ctx = document.getElementById('myChart').getContext('2d');
      var myChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels:  [
                       {% for item in labels %}
                        "{{ item }}",
                       {% endfor %}],
                datasets: [{
                    label: "Worthäufigkeit",
                    data: [
                      {% for item in values %}
                       "{{ item }}",
                      {% endfor %}],
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                legend: {
                  display: false,
                  },
                scales: {
                    xAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        </script>
{% endfor %}
{% endif %}
{% endblock %}
