{% extends "layout.html" %}

{% block title %}
{% for result in results %}
    {{ result.autorinnenname }} - {{ result.titel }}
{% endfor %}
{% endblock %}

{% block main %}
{% if results %}
{% for result in results %}
<div class="row">
  <div class="col">
    <p class="text-center text-secondary">
      {% if  search_result != "1" %}<a href="/text/{{ search_result  - 1}}" class="card-link">Vorherige</a> {% endif %} {% if  search_result != "139" %}<a href="/text/{{ search_result + 1 }}" class="card-link">Nächste</a> {% endif %}</p>
    <h1 class="display-5 text-center"><strong>{{ result.autorinnenname }}</strong></h1>
    <h1 class="display-5 text-center"><em>{{ result.titel }}</em></h1>
    <h6 class="display-5 text-center text-secondary">{{ result.teilnahmejahr }}</h6>
    <br>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-sm-{{ infotable_col_width }}">
    <dl class="row">
      <dt class="col-sm-6 text-left"><a href="/charts/laender" class="card-link">Land</a></dt>
      <dd class="col-sm-6 text-left">{{ result.land }}</dd>

      <dt class="col-sm-6 text-left"><a href="/charts/orte" class="card-link">Wohnort</a></dt>
      <dd class="col-sm-6 text-left">{{ result.wohnort }}</dd>

      <dt class="col-sm-6 text-left"><a href="/alter" class="card-link">Geburtsjahr</a></dt>
      <dd class="col-sm-6 text-left">{{ result.geburtsjahr }}</dd>

      <dt class="col-sm-6 text-left"><a href="/charts/kritikerinnen" class="card-link">Eingeladen von</a></dt>
      <dd class="col-sm-6 text-left">{{ result.eingeladen_von }}</dd>

      <dt class="col-sm-6 text-left"><a href="/charts/wochentage" class="card-link">Vorgetragen am</a></dt>
      <dd class="col-sm-6 text-left">{{ result.vorgetragen_am }}</dd>

      <dt class="col-sm-6 text-left">Preise gewonnen?</dt>
      <dd class="col-sm-6 text-left">{{ result.preis }}</dd>

      <dt class="col-sm-6 text-left">Link</dt>
      <dd class="col-sm-6 text-left"><a class="btn btn-primary" href="{{ result.link }}"  target="_blank" role="button">Webseite</a></dd>
    </dl>
  </div>
  {% if shortlist %}
  <div class="col-sm-6">
    <div class="row">
      <div class="col">
        <h6 class="display-6 text-center">für Shortlist gewählt?</h6>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="container-canvas" style="position: relative; margin: auto; height:220px; width:220px">
          <canvas id="doughnutChart"></canvas>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
<br>
<br>
<div class="row">
  <div class="col">
    <p class="text-center text-secondary font-italic">„{{ fazit }}“</p>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <h6 class="display-6 text-center"><a href="/woerterchart" class="card-link">Worthäufigkeit</a></h6>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="container-canvas" style="position: relative; margin: auto; height:80vh; width:70vw">
      <canvas id="horizontalChart"></canvas>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
      <script>
      var ctx = document.getElementById('horizontalChart').getContext('2d');
      var myChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels:  [
                       {% for item in labels %}
                        "{{ item }}",
                       {% endfor %}],
                datasets: [{
                    label: "Worthäufigkeit",
                    data: [
                      {% for item in values %}
                       "{{ item }}",
                      {% endfor %}],
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                  display: false,
                  },
                scales: {
                    xAxes: [{
                        ticks: {
                            beginAtZero: true,
                            max: {{ max }}
                        }
                    }]
                }
            }
        });

        {% if shortlist %}
        var tooltip_list = [];
        var colors = [];
        var border_colors = []
        {% for item in shortlist.vote %}
        if ({{ item }} === true) {
          tooltip_list.push( "ja");
          colors.push( "rgba(53, 234, 156, 0.5)");
          border_colors.push( "rgba(53, 234, 156, 1)");
        };
        if ({{ item }} === false) {
          tooltip_list.push( "nein");
          colors.push("rgba(234, 53, 75, 0.5)");
          border_colors.push("rgba(234, 53, 75, 1)");
        };
        if ({{ item }} === 0) {
          tooltip_list.push( "eingeladen");
          colors.push("rgba(53, 90, 234, 0.5)");
          border_colors.push("rgba(53, 90, 234, 1)");
        };
        {% endfor %}

        var config_pie = {
          type: "doughnut",
          data: {
            datasets: [{
              data: [
              1, 1, 1, 1, 1, 1, 1
              ],
              backgroundColor: colors,
              borderColor: border_colors,
              borderWidth: 1
            }],
            labels: [
            "Gmünder",
            "Gomringer",
            "Kastberger",
            "Keller",
            "Wiederstein",
            "Wilke",
            "Winkels"
            ]
          },
          options: {
            responsive:true,
            legend: {
              display: false
            },
            animation: {
              animateScale: true,
              animateRotate: true
            },
            layout: {
                        padding: {
                            right: 20,
                            left: 20
                        }
                    },
            tooltips: {
                tooltipCaretSize: 0,
                callbacks: {
                  label: function(tooltipItem, data) {
                      var label = data.labels[tooltipItem.index] || '';

                      if (label) {
                          label += ": " + tooltip_list[tooltipItem.index];
                      };
                      return label;
                    }
                }
              }
          }
        };

        window.onload = function() {
          var ctx_pie = document.getElementById('doughnutChart').getContext('2d');
          window.myPie = new Chart(ctx_pie, config_pie);
        };
        {% endif %}
        </script>
{% endfor %}
{% endif %}
{% endblock %}
