{% extends "layout.html" %}

{% block title %}
    Suchergebnisse
{% endblock %}

{% block main %}
<h6 class="display-6">Worthäufigkeit insgesamt</h6>
<div class="container-canvas"><canvas id="myChart" width="600" height="400"></canvas></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>
      var ctx = document.getElementById('myChart').getContext('2d');

      var myChart = new Chart(ctx, {
          type: 'horizontalBar',
          data: {
              labels:  [
                     {% for item in labels %}
                      "{{ item }}",
                     {% endfor %}],
              datasets: [{
                  label: "Worthäufigkeit",
                  data: [
                    {% for item in values %}
                     "{{ item }}",
                    {% endfor %}],
                  backgroundColor: 'rgba(54, 162, 235, 0.2)',
                  borderColor: 'rgba(54, 162, 235, 1)',
                  borderWidth: 1
              }]
          },
          options: {
              legend: {
                display: false,
                },
              scales: {
                  xAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              }
          }
      });
</script>
{% endblock %}
